<%- include("header") %>

  <div class="home-header">
    <div class="home-header-text">
      <h1>welcome to mustafa blog website</h1>
      <h3>register now to see our posts</h3>
    </div>
  </div>

  <div class="features">
    <div class="">
      <i class="fa-solid fa-shield"></i>
      <h3>safety</h3>
      <p>Create a protected website by placing all files inside the server and encrypting passwords with the latest technologies</p>
    </div>

    <div class="">
      <i class="fa-solid fa-cloud"></i>
      <h3>fast</h3>
      <p>Create a website using Node js, which is one of the fastest back-end frameworks</p>
   </div>

    <div class="">
      <i class="fa-solid fa-wrench"></i>
      <h3>support</h3>
      <p>Real support for 3 months after completing your website It also includes adding modifications to the site</p>
    </div>
  </div>

  <div class="create-account">
    <div class="left">
      <div class="text-box">
        <h3>join us now and create your account</h3>
        <h4>we provide web programming service static websites , dynamic websites and single page apps </h4>
        <a class="home-btn" href="/register">register now</a>
      </div>
    </div>
    <div class="right">
      <img src="pictures/register.jpg" alt="">
    </div>
  </div>

  <div class="audience">
    <h3 class="audience-title">our audience</h3>
      <div class="">
        <img src="pictures/bolder.jpg" alt="">
        <h3>bolder</h3>
      </div>

      <div class="">
        <img src="pictures/mosh.jpg" alt="">
        <h3>mosh</h3>
     </div>

      <div class="">
        <img src="pictures/ashley.jpg" alt="">
        <h3>ashley</h3>
      </div>
  </div>
<%- include("footer") %>
